<ion-header>
  <ion-navbar>
    <ion-title>

      CHAT APP

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

   <ion-card *ngIf="chatUser">
     <button ion-button block (click)= "logout()">LOGOUT</button>
      <br>
      <ion-card-header>
        {{ chatUser.email }}
      </ion-card-header>
      <ion-card-content>
        <P>Welcome to your chat application !</P>
      </ion-card-content>
   </ion-card>
   <button ion-button block (click)="login()" *ngIf="!chatUser">
     LOGIN WITH GOOGLE
   </button>

</ion-content>
